#body{
  background-color:lightsteelblue
}
#tittle {
  font-family: cursive;
  font-size: 30px;
  color: purple;
  margin: 1;
}
.input-clase {
  box-shadow: 1px 1px orange;
  border-radius: 3%;
  font-size: 15px;
  margin: 2px;
}
.label-clase {
  margin: 3;
  color: blue;
}
#members {
  color: orangered;
  margin: 75px;
}
.hidden {
  display: none;
}
.error {
  border: 1px solid red;
}
#button-send-data{
  border-radius: 15%;
    background-color: greenyellow;
    color: red;
    transition: 0.5s;
}
#button-calculate{
  border-radius: 20%;
  background-color: orange;

}
#button-clean{
  border-radius: 20%;
  background-color: white;
}
#errors{
  color: red;
}
