#tittle {
  font-size: 30px;
  color: royalblue;
  margin: 1;
}
.input-clase {
  font-size: 15px;
  margin: 2px;
}
.label-clase {
  margin: 3;
  color: blue;
}
#members {
  color: orangered;
  margin: 75px;
}
.hidden {
  display: none;
}
.error {
  border: 2px solid red;
}
